<a href class="dropdown-toggle" data-toggle="dropdown">
<img src="/assets/imgs/user.jpg" class="user-image" alt="User Image">
<span class="hidden-xs">Anônimo</span>
</a>
<ul class="dropdown-menu">
  <!-- User image -->
  <li class="user-header">
    <img src="/assets/imgs/user.jpg" class="img-circle" alt="User Image">
    <p>
      Anônimo - Web Developer
      <small>Membro desde Jan. 2017</small>
    </p>
  </li>
  <!-- Menu Body -->
  <li class="user-body">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a href>Seguidores</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href>Vendas</a>
      </div>
      <div class="col-xs-4 text-center">
        <a href>Amigos</a>
      </div>
    </div>
  </li>
  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-left">
      <a href class="btn btn-default btn-flat">Perfil</a>
    </div>
    <div class="pull-right">
      <a href class="btn btn-default btn-flat">Sair</a>
    </div>
  </li>
</ul>
